<!--
To collect end-user usage analytics about your application,
insert the following script into each page you want to track.
Place this code immediately before the closing </head> tag,
and before any other scripts. Your first data will appear
automatically in just a few seconds.
-->
<script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"3bb02ad3-bd45-410d-9474-d7029ebbee41"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
</script>

@model Contoso.Apps.SportsLeague.Web.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Index";
}

@section HeaderOverlay {
    <div class="button-wrapper">
        <div class="container">
            <div class="row">
                <a href="#" class="btn-content">Order Completed</a>
            </div>
        </div>
    </div>
}

<section class="store">
    <div class="container">
        <div class="row">
            <div class="wrapper clearfix">

                @if (!string.IsNullOrWhiteSpace(Model.PaymentTransactionId))
                {
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Success!</h3>
                        </div>
                        <div class="panel-body">
                            <p>Thank you for your business! Your order has been completed. Here's your transaction Id for reference: <strong>@Model.PaymentTransactionId</strong></p>
                            <p><br /></p>
                            <p><a href="@Url.Action("Index", "Home")" class="btn red-btn">Return Home</a></p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Payment has not been completed</h3>
                        </div>
                        <div class="panel-body">
                            <p>Oh no! I must've mistakenly brought you to this page. You have not completed your order yet...</p>
                            <p>Let's <a href="@Url.Action("Index", "Cart")" style="color: blue">take a look at your cart</a> and try again!</p>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>