<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiapp07f6d7d978664879adf81db9206336d9.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiapp07f6d7d978664879adf81db9206336d9.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiApp07f6d7d978664879adf81db9206336d9</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>briarcontososports.offers</AppServiceName>
    <ResourceGroupName>contososports</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiApp07f6d7d978664879adf81db9206336d9</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContosoSportsLeague" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:briar-contososportsdb.database.windows.net,1433;Initial Catalog=briar-contososportsdb;User ID=briarsa@briar-contososportsdb;Password=J0rdan23;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ContosoSportsLeague_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:briar-contososportsdb.database.windows.net,1433;Database=briar-contososportsdb;User ID=briarsa@briar-contososportsdb;Password=J0rdan23;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>